nav{
    background-color: rgb(22, 24, 33);
    height: 200px;
    width: 100%;
    border: 3px, dashed, black;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
    z-index: 1;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li {
    margin-right: 20px; /* Adjust the margin as needed */
}
nav > img {
    
align-items: flex-start;
}
ul li{
    display: inline;
    color: rgb(0, 61, 114);
    align-items: flex-end;
    position: relative;
}
a{
    color: rgb(184, 42, 42);
}
a:visited{
    text-decoration: none;
    color: rgb(164, 123, 123);
}

iframe{
    margin-top: 10%;
}
#myCarousel img {
    max-width: 100%;
    height: auto;
  }
  
  #myCarousel {
    max-width: 500px;
    margin: auto;
    background-color: transparent
  }











h1,h2{
    font-size: large;
    color: rgb(36, 32, 235);
    text-decoration: underline;
}

p, article{
    color:rgb(240, 16, 57)
}

#btn{
    background-color: rgb(231, 189, 218);
    font-size: medium;
    color: rgb(244, 7, 7);
}

label > form {
    text-align: left;
}
.container{
    background-color: rgb(146, 206, 240);
    height: 700px; ;
    width: 700px;
    margin: 10px; ;
    padding: 10; ;
    border: 2px solid black;
}
.box1{ background-color: aquamarine;
    height: 200px;
    width:200px ;
    margin: 1px; ;
    padding: 3%; ;
    border: 2px solid black;
}
.box2{ background-color: rgb(208, 255, 127);
    height: 200px; ;
    width: 200px; ;
    margin: 1px; ;
    padding: 4;
    border: 2px solid black;}
.box3{ background-color: rgb(168, 127, 255);
        height: 200px;
        width: 200px;
        margin: 2;
        padding: 10px; ;
        border: 2px solid rgb(250, 27, 27);}

.h1,h2{
    display: inline;
}
.body{ 
    background-color: aquamarine;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-box {
    width: 250px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product-box img {
    max-width: 100%;
    height: auto;
}

.product-box h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.product-box p {
    margin-top: 10px;
    font-size: 0.9em;
}

.product-box .price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.product-box button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-box button:hover {
    background-color: #45a049;
}